<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042865079207-39tus7qc4p1je91pk236kr2itq8ppou4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042865079207-39tus7qc4p1je91pk236kr2itq8ppou4</string>
	<key>API_KEY</key>
	<string>AIzaSyC9uAcSXmgIf5N2mnZQwpS8ISYmi966dcM</string>
	<key>GCM_SENDER_ID</key>
	<string>1042865079207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stonks</string>
	<key>PROJECT_ID</key>
	<string>stonks-1b95c</string>
	<key>STORAGE_BUCKET</key>
	<string>stonks-1b95c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042865079207:ios:ee6fe655bcf707308e6c82</string>
	<key>DATABASE_URL</key>
	<string>https://stonks-1b95c-default-rtdb.firebaseio.com</string>
</dict>
</plist>